.Cat{
    color: blue;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    background-color: aqua;
}

.List li{
    color: green;
    padding: 15px;
}

.List li:hover{
    color: pink;
    cursor: pointer;
}
