.Card{
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3); 
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.Card .Card-Image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Card .Card-Title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: blue;
}

.Card .Card-Desc{
  font-family: Arial, sans-serif;
  margin: 10;
  color: blueviolet;
}
