.Card{
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3); 
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: flexbox;
}

.Card .Card-Image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Card .Card-Title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: blue;
}

.Card .Card-Desc{
  font-family: Arial, sans-serif;
  margin: 10;
  color: blueviolet;
}

.Card2{
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display:flexbox;
}

.Card2 .Card2-img{
  width: 150px;        
  height: 150px;
  object-fit: cover;  
  border-radius: 50%;
  margin-bottom: 10px;
}

.Card2 .Card2-name{
  font-family: Arial, sans-serif;
  margin: 0px;
  color: Blue;
}

.Card2 .Card2-desc{
  font-family: Arial, sans-serif;
  margin: 10px;
  color: blueviolet;
}