.Welcome{
    font-size: 2.5em;
    background-color: aqua;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 0;
    max-width: 500px;
    text-align: center;
}

.Log-In{
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    margin: 0;
    max-width: 500px;
    text-align: center;
}

.edit{
     font-size: 2.5em;
    background-color: aqua;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 0;
    max-width: 500px;
    text-align: center;
}